<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <style>
    [v-cloak] {
      display: none;
    }
    .error{
      color:red;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div id="app" v-cloak>
    <p v-if="errors.length">
      <ul>
        <li class="error" v-for="error in errors">{{error}}</li>
      </ul>
    </p>
    <form @submit.prevent="validate">
      Name
      <input type="text" v-model="yourName">
      <br>
      <p :class="{error:hasError.yourName}">
        {{contact.yourName.length}}/20
      </p>
      <p v-show="hasError.yourName" class="error">20!</p>
      
      Tel
      <input type="tel" v-model.number="contact.tel">
      <br>

      Email
      <input type="email" v-model.lazy.trim="contact.email">
      <br>

      Gender
      <input type="radio" value="male" v-model="contact.gender">male
      <input type="radio" value="female" v-model="contact.gender">female
      <input type="radio" value="other" v-model="contact.gender">other
      <br>

      Age
      <select v-model="contact.age">
        <option disabled value="">select</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40~</option>
      </select>
      <br>

      Message
      <textarea v-model="contact.message"></textarea>
      <br>

      Questionnaire
      <input type="checkbox" value="web site" v-model="contact.attracts">WEB site
      <input type="checkbox" value="paper" v-model="contact.attracts">Paper
      <input type="checkbox" value="other" v-model="contact.attracts">Other
      <br>

      caution
      <input type="checkbox" v-model="contact.caution">
      <br>

      <input type="submit" value="submit">
    </form>
  </div>

  <script>
    let app = new Vue({
      el: "#app",
      data() {
        return {
          contact:{
            yourName:"",
            tel:"",
            email:"",
            gender:"",
            age:"",
            message:"",
            attracts:[],
            caution:false
          },
          errors:[],
          hasError:{
            yourName:false
          }
        }
      },
      methods:{
        validate(){
          this.errors = []
          if(!this.contact.yourName){
            this.errors.push('name!')
          }else if(this.contact.yourName.length >20){
            this.errors.push('name 20!')
          }
          if(!this.contact.gender){
            this.errors.push('gender!')
          }
          if(!this.contact.caution){
            this.errors.push('caution!')
          }
          if(!this.errors.length){
            console.log('submit');
          }
        }
      },
      computed:{
        yourName:{
          get(){
            return this.contact.yourName
          },
          set(value){
            if(value.length <= 20){
              this.hasError.yourName = false
            }else{
              this.hasError.yourName = true
            }
            
            return this.contact.yourName = value
          }
        }
      }
    })
  </script>
</body>
</html>